.left-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-sidebar{
    position: fixed;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden; 
    top: 0;
    bottom: 0;
    z-index: 100;
}


/* Style for Main logo which is X */

.main-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.x-logo{
    border-radius: 50px;
}

.x-logo:hover{
    background-color: rgb(230, 225, 225);
    cursor: pointer;
    border-radius: 50px;
}

.main-logo-x{
    width: 45px;
    height: 45px;
}

.other-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}




/* Style for other logos */


.other-icons{
    border-radius: 25px;
    padding: 3px;
    width: 43px;
    height: 43px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.other-icons-more{
    border-radius: 25px;
    padding: 3px;
    width: 43px;
    height: 43px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.other-icons:hover,
.other-icons-more:hover {
    background-color: rgb(230, 225, 225);
    cursor: pointer;
}

.small-blue-dot{
    width: 7px;
    position: absolute;
    top: 7px;
    right: 13px;
}


.home-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 4px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.explore-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.notifications-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 0px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.messages-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.lists-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 10px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.bookmarks-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.communities-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.verified-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.profile-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 5px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.more-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 8px;
    bottom: -20px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 200;
}


.post-icon-tooltip .tool-tip{
    background-color: grey;
    color: white;
    position: absolute;
    border-radius: 3px;
    font-size: 13px;
    left: 8px;
    bottom: -30px;
    cursor: pointer;
    padding: 2px 4px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 200;
}




.home-icon-tooltip:hover .tool-tip,
.explore-icon-tooltip:hover .tool-tip,
.notifications-icon-tooltip:hover .tool-tip,
.messages-icon-tooltip:hover .tool-tip,
.lists-icon-tooltip:hover .tool-tip,
.bookmarks-icon-tooltip:hover .tool-tip,
.communities-icon-tooltip:hover .tool-tip,
.verified-icon-tooltip:hover .tool-tip,
.profile-icon-tooltip:hover .tool-tip,
.more-icon-tooltip:hover .tool-tip,
.post-icon-tooltip:hover .tool-tip{
    opacity: 1;
}

.icons-sidebar{
    width: 28px;
}

.icons-sidebar-home{
    width: 28px;
}

.icons-sidebar-explore,
.icons-sidebar-bookmarks{
    width: 24px;
}

.icons-sidebar-message,
.icons-sidebar-lists{
    width: 21px;
}

.icons-sidebar-communities{
    width: 27px;
}

.icons-sidebar-verified,
.icons-sidebar-profile,
.icons-sidebar-more{
    width: 24px;
}


.icons-sidebar-post{
    margin-top: 15px;
    width: 70px;
}



.notifications-count{
    color: white;
    background-color: rgb(29, 155, 240);
    border-radius: 10px;
    width: 15px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 12px;
}


.my-picture-post{
    width: 38px;
    border-radius: 20px;
    margin-right: 3px;
}

.profile-picture-sidebar{
    position: absolute;
    top: 640px;
}

