.middle-section{
    border: 1px solid rgb(229, 226, 226);
    border-top: none;
    
}



.home-text{
    z-index: 200;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
}

.home-middle-section{
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 13px;

}

.home-middle-section:hover{
    cursor: pointer;
}


.for-you-and-following{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.for-you-div,
.following-div{
    text-align: center;
    padding: 10px;
    height: 28px;
    border-bottom: 1px solid rgb(229, 226, 226);
}

.for-you-div:hover,
.following-div:hover{
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}

.for-you,
.following{
    font-size: 17px;
}

.for-you-div{
    position: relative;
    font-weight: bold;
}

.for-you-tooltip{
    background-color: rgb(29, 155, 240);
    width: 65px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    left: 130px;
    bottom: 0;
}

.what-is-happening-div{
    margin: 13px 13px;
    height: 100px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

#what-is-happening-text{
    height: 40px;
    font-size: 21px;
    margin-left: 5px;
    border: none;
}

#what-is-happening-text::placeholder{
    text-align: start;
    font-size: 20px;
}

.one{
    display: flex;
    column-gap: 20px;
}


.media,
.gif,
.poll,
.emoji,
.schedule{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media .tool-tip{
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: white;
    background-color: grey;
    width: 34px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.gif .tool-tip{
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: white;
    background-color: grey;
    width: 21px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.poll .tool-tip{
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: white;
    background-color: grey;
    width: 20px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.emoji .tool-tip{
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: white;
    background-color: grey;
    width: 32px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.schedule .tool-tip{
    position: absolute;
    top: 50px;
    font-size: 12px;
    color: white;
    background-color: grey;
    width: 45px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.media:hover .tool-tip,
.gif:hover .tool-tip,
.poll:hover .tool-tip,
.emoji:hover .tool-tip,
.schedule:hover .tool-tip{
    opacity: 1;
}



.blue-icons{
    margin-top: 20px;
    width: 18px;
    margin-left: 2px;
}

.location{
    opacity: 0.6;
}

.post-button-small{
    position: absolute;
    right: 70px;
}

.what-is-happening-div{
    position: relative;
}

.post-small-button{
    color: white;
    background-color: rgb(29, 155, 240);
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    margin-bottom: 140px;
    position: absolute;
    top: 11px;
    opacity: 0.6;
}

.more-more-tweets{
    border-top: 1px solid rgb(229, 226, 226);
    border-bottom: 1px solid rgb(229, 226, 226);
    margin-top: -15px;
    height: 45px;
}


.more-tweets{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    padding: 2px;
    color: rgb(29, 155, 240);
}

.more-more-tweets:hover{
    background-color: rgb(243, 241, 241);
    cursor: pointer;
}

.main-tweets-div-one{
    border-bottom: 1px solid rgb(229, 226, 226);
}

.main-tweets-div-one:hover{
    background-color: rgb(243, 241, 241);
    cursor: pointer;
}



.main-tweets-div{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 38px 1fr;
    column-gap: 10px;
    margin: 4px 10px 10px 13px;
    position: relative;
}

.profile-picture-div{
    position: relative;
}

.profile-picture-div .profile-picture-tooltip{
    position: absolute;
    top: 40px;
    left: -8px;
    padding: 5px 10px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 5px;
    width: 250px;
}

.profile-picture-div .my-picture{
    margin-top: 5px;
}

.profile-picture-div:hover .profile-picture-tooltip{
    opacity: 1;
}

.usernames-middle-section{
    display: flex;
}

.usernames-div{
    display: flex;
    position: relative;
}

.usernames-div .username-tooltip{
    position: absolute;
    top: 25px;
    padding: 5px 10px;
    background-color: grey;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 5px;
}

.username-id-div{
    position: relative;
}

.username-tooltip-first-div .my-picture{
    margin-top: 5px;
}

.username-id-div .my-picture{
    margin-top: 5px;
}

.username-id-div .username-id-tooltip{
    position: absolute;
    top: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: grey;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.usernames-div:hover .username-tooltip,
.username-id-div:hover .username-id-tooltip{
    opacity: 1;
}

.username-tooltip-first-div,
.username-id-tooltip-div,
.profile-picture-tooltip-div{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.username-tooltip-first-div .my-picture{
    width: 40px;
}

.username-tooltip-button{
    background-color: black;
    color: white;
    height: 28px;
    width: 65px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
}

.username-tooltip-button:hover{
    cursor: pointer;
}

.username,
.username-id{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}

.username{
    font-weight: bold;
}

.usernames-and-id-in-tooltip .username{
    display: flex;
    column-gap: 4px;
}

.time-div{
    position: relative;
}

.time-div .time-tooltip{
    position: absolute;
    background-color: grey;
    width: 90px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.time-div:hover .time-tooltip{
    opacity: 1;
}


.time:hover{
    text-decoration: underline;
}

.biography-tooltip-paragraph{
    font-size: 15px;
}

.icons-verified{
    height: 22px;
    margin-left: -2px;
    margin-right: 2px;
}

.icons-zimbabwe{
    margin-top: 4px;
    border-radius: 3px;
    height: 15px;
    margin-left: -2px;
    margin-right: 2px;
}

.icons-more{
    height: 14px;
    margin-left: -2px;
    margin-right: 2px;
    position: absolute;
    top: 13px;
    right: 2px;
}

.links-for-texts{
    font-weight: bold;
    color: rgb(29, 155, 240);
}

.post-images-videos{
    display: flex;
    align-items: center;
}

.posts-images{
    margin-top: 15px;
    height: 500px;
    border-radius: 15px;
}

img{
    object-fit: contain;
}

.feedback-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.reply,
.retweet,
.like,
.views,
.share{
    display: flex;
    align-items: center;
}


.numbers{
    font-size: 14px;
    padding-left: 4px;
}

.reply:hover,


.views:hover,
.share:hover{
    color: rgb(29, 155, 240);
}

.retweet:hover{
    color: green;
}

.like:hover{
    color: red;
}



.reply-image{
    height: 17px;
    border-radius: 100px;
    cursor: pointer;
    padding-right: 10px;
}

.retweet-image{
    height: 19px;
    border-radius: 100px;
    cursor: pointer;
    padding-right: 10px;
}

.like-image{
    height: 18px;
    border-radius: 100px;
    cursor: pointer;
    padding-right: 10px;
}


.views-image{
    height: 18px;
    border-radius: 100px;
    cursor: pointer;
    padding-right: 10px;
}

.share-image{
    height: 18px;
    border-radius: 100px;
    cursor: pointer;
    padding-right: 10px;
}




.reply-tooltip,
.retweet-tooltip,
.like-tooltip,
.views-tooltip,
.share-tooltip{
    position: relative;
    cursor: pointer;
    display: flex;
}

.reply-tooltip .tooltip{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    color: white;
    background-color: rgb(106, 104, 104);
    width: 30px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.retweet-tooltip .tooltip{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    color: white;
    background-color: rgb(106, 104, 104);
    width: 44px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.like-tooltip .tooltip{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    color: white;
    background-color: rgb(106, 104, 104);
    width: 25px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}

.views-tooltip .tooltip{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    color: white;
    background-color: rgb(106, 104, 104);
    width: 33px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}


.share-tooltip .tooltip{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    color: white;
    background-color: rgb(106, 104, 104);
    width: 29px;
    padding: 3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}


.reply-tooltip:hover .tooltip,
.retweet-tooltip:hover .tooltip,
.like-tooltip:hover .tooltip,
.views-tooltip:hover .tooltip,
.share-tooltip:hover .tooltip{
    opacity: 1;
}


.username,
.username-id{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}

.username{
    font-weight: bold;
}

.more-detail{
    margin-top: 14px;
}


.username:hover,
.username-id:hover{
    text-decoration: underline;
}